@import "tailwindcss";

@layer base {
  body {
    background-color: #FDFBF7; /* Fresh Light Golden/Cream */
    color: #2C2A29; /* Warm Charcoal instead of harsh black */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}